html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-dark .navbar-brand {
  font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

#landPage {
  padding: 40vh 0 0;
  height: 100vh;
  display: block;
  /* Photo by Lydia Torrey on Unsplash */
  background: url('https://images.unsplash.com/photo-1518914781460-a3ada465edec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header {
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4),
    0px 6px 10px rgba(0, 0, 0, 0.2);
}

#header h1 {
  font-weight: 700;
  font-size: 4rem;
}

#header hr {
  border-top: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto 10px;
  width: 250px;
}

#gallery {
  background-color: #f3c3d1;
}

#gallery .container .row {
  display: flex;
  flex-wrap: wrap;
}

#gallery .container .row>[class*='col-'] {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #f681a0;
  padding: 5px;
}

.movedNav {
  background-color: #f681a0;
  transition: all 0.8s;
}

.staticNav {
  background-color: transparent;
  transition: all 0.8s;
}